.p {
    color: #636363;
}

.button {
    font-size: 16px;
    width: 64;
    height: 64;
}

.content {
    margin: 24px 16px;
    padding: 24;
    min-height: 280;
    background: colorBgContainer;
    border-radius: borderRadiusLG;
}
